body{
    font-family: Arial, sans-serif;
    /* background-color: gradient(to right, #f0f0f0, #3a09e9); */
    background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);    
    color: #333;
    margin: 0;
    padding: 2em;
}

.header {
    text-align: center;
    margin-bottom: 2em;
    color: #3608db;    
}


.info {
    text-align: center;
    max-width: 50%;
    margin: 0 auto;
}

h1 {
    font-size: 2.5em;
    margin: 0;
}

h2 {
    font-size: 1.5em;
    margin-top: 0.5em;
}

p {
    font-size: 1em;
    line-height: 1.5;
    margin: 0.5em 0;
}

.steps {
    list-style-type: none;
    text-align: center;    
    padding: 0;    
    padding-left: 1em;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2em auto;
    gap: 1em;
    max-width: 50%;
}

.flex-item {
    flex: 1 1 0;
    width: 100%;
    max-width: 600px;
    margin: 0.5em;
    padding: 1em;
    background-color: transparent;
    border-radius: 0.5em;
    box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.1);
}

.input-section, .output-section {
    background: transparent;
    border-radius: 0.5em;
    box-shadow: 0 0.2em 1em rgba(0,0,0,0.08);
    padding: 2em;
}

.encode-text, .decode-tokens  {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin: 0.5em auto;    
    padding: 2.5em;
    border-radius: 0.25em;
    border: 0.1em transparent;        
    font-size: 1em;
}

@media (max-width: 768px) {
    textarea {
        width: 100%;
        min-width: 0;
        box-sizing: border-box;
    }

    button {
        padding: 0.5em 0.5em;
        background-color: #3a09e9;
        color: #fff;
        margin-top: 0.5em;    
        border-radius: 0.25em;
        cursor: pointer;
        font-size: 2em;
    }
    button:hover {
        background-color: #0d9b54;
        transition: background-color 0.5s ease;    
    }


    footer {
        text-align:center;
    }

    .social-links {
        display: flex;
        justify-content: center;
        gap: 0.5em;
    }
}

.model-select {
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.25em;
    border: 1px solid #ccc;
    font-size: 1em;
    margin-bottom: 0.2em;
}

.help-text {
    color: #666;
    font-size: 0.95em;
    display: block;
    text-align: left;
    text-wrap: wrap;    
}

button {
    padding: 0.5em 0.5em;
    background-color: #3a09e9;
    color: #fff;
    margin-top: 1em;    
    border-radius: 0.25em;
    cursor: pointer;
    font-size: 16px;
}
button:hover {
    background-color: #0d9b54;
    transition: background-color 0.2s ease;    
}


footer {
    text-align:center;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 1em;
}

